TestImages
HSLColor
DEPENDENCYLIB
opencv2
opencv_world411.dll
opencv_world411d.dll
opencv_world411.lib
opencv_world411d.lib
*.vs
*.aps
*.filters
*.exp
*.iobj
*.ipdb
*.obj
*.pdb
*.tlog
*.res
*.txt
*.log
*.ilk
*.ico
*.rc2
*.ipch
*.pch
*.user
*.exe
*.idb
*.suo